/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar-row {
  justify-content: space-between;
}

.app-icon {
  padding: 14px 5px 14px 0;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
