<div>
  <header>
    <mat-toolbar color="primary">
      <mat-icon class="app-icon">library_books</mat-icon>
      <span class="titulo" routerLink="/livros" >Livraria</span>
    </mat-toolbar>
  </header>
  <!-- <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu> -->
  <main>
    <mat-card>
        <router-outlet></router-outlet>
    </mat-card>
  </main>

  <span class="done">
    <a routerLink="/novo-livro" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </span>

  <footer>
    <mat-toolbar color='primary'>
      <span class='spacer'></span>
        <h3>© Copyright José Carlos S.A. Tissei - 2018</h3>
      <span class='spacer'></span>
    </mat-toolbar>
  </footer>
</div>
